.hero {
	color: var(--white, white);
	padding: 12em 0;
	background: var(--space-cadet, #333);
}

@supports (background-blend-mode: multiply) {
	.hero {
		background: url("/hero-banner.webp"),
			linear-gradient(135deg, var(--aero), var(--rusty-red-300));
		background-attachment: fixed;
		background-blend-mode: multiply;
		background-position: top center;
		background-repeat: no-repeat;
		background-size: cover;
	}
}

.hero-content {
	display: flex;
	flex-direction: column;
	gap: 1em;
	align-items: center;
}

.hero-title {
	font-size: 2em;
	font-size: clamp(2em, calc(5vw + 1em), 5em);
	line-height: 1;
	text-transform: uppercase;
}

.hero-sub-title {
	font-size: 1.5em;
	font-size: clamp(1.5em, calc(5vw + 1em), 3em);
	line-height: 1.2;
}

.hero-quote {
	font-size: 1.2em;
	font-size: clamp(1.2em, calc(5vw + 1em), 2.2em);
	line-height: 1.2;
	text-align: right;
}

.cta-button {
	margin: auto;
}