.impact {
	color: var(--white, white);
	padding: 12em 0;
}

.cards {
	padding: 1em 0;
	display: flex;
	gap: 2em;
	flex-wrap: wrap;
	list-style: none;
	justify-content: center;
	margin-bottom: 7em;
}

.card {
	flex: 1 1 300px;
	background-color: var(--color-bg-1-alt);
	color: var(--color-fg-alt);
	padding: 2em 1em;
	border-radius: 8px;
	display: flex;
	gap: 1em;
	flex-direction: column;
	align-items: center;
	text-align: center;
	max-width: 30em;
}

.title {
	font-size: 1.5em;
	font-size: clamp(1.2em, 5vw + 1em, 1.5em);
	line-height: 1;
	font-weight: bold;
	color: var(--color-accent);
}

.image {
	width: 80%;
	height: 100px;
	border-radius: 8px;
	margin: 1em 0;
	padding: 1em 0;
	background-color: color-mix(in srgb, var(--color-bg-1-alt), var(--color-bg-1));
	color: var(--white);
}

.items {
	width: 70%;
	justify-self: start;
}

.item {
	text-align: left;
	font-weight: 700;
}

.table {
	background-color: var(--color-bg-1-alt);
	color: var(--color-fg-alt);
	padding: 2em 1em;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2em;
}

.table-row {
	width: 100%;
	display: grid;
	grid-template-areas:
		"head head"
		"left right";
	grid-template-columns: repeat(2, minmax(0, 1fr));
	gap: 1em 0;
}

.table-row:first-child {
	padding: 0 0 2em;
	border-bottom: 2px solid var(--color-bg-1);
}

.table-head {
	grid-area: head;
	text-align: center;
	color: var(--color-accent);
}

.table-cell {
	font-weight: 700;
	padding: 0 1em;
}

.table-cell:nth-child(even) {
	grid-area: left;
	border-right: 2px solid var(--color-bg-1);
	text-align: right;
}

.table-cell:nth-child(odd) {
	grid-area: right;
	border-left: 2px solid var(--color-bg-1);
	text-align: left;
}

.table-cell .highlight {
	text-decoration: underline var(--color-accent) 4px;
	text-underline-offset: 4px;
}

@media (width > 900px) {
	.table-row {
		grid-template-areas:
			"head left right";
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}

	.table-head {
		text-align: left;
	}

	.table-cell,
	.table-cell:nth-child(odd),
	.table-cell:nth-child(even) {
		text-align: center;
	}
}