.solution {
	background-color: var(--color-bg-1-alt);
	color: var(--color-fg-alt);
}

.solution h3 mark {
	color: inherit;
	background: linear-gradient(to top,
			var(--color-primary) 0%,
			var(--color-primary) 100%);
	background-color: inherit;
	background-repeat: no-repeat;
	background-size: 0% 0.1em;
	background-position: left bottom;
}

.list {
	padding: 1em 0;
	display: flex;
	gap: 2em;
	flex-wrap: wrap;
	list-style: none;
	justify-content: center;
	margin-bottom: 7em;
}

.card {
	flex: 1 1 300px;
	background-color: var(--color-bg-1);
	color: var(--color-fg);
	padding: 2em 1em;
	border-radius: 8px;
	display: flex;
	gap: 1em;
	flex-direction: column;
	align-items: center;
	text-align: center;
	max-width: 30em;
}

.title {
	font-size: 1.5em;
	font-size: clamp(1.2em, 5vw + 1em, 1.5em);
	line-height: 1;
	font-weight: bold;
	color: var(--color-accent);
}

.image {
	width: 80%;
	height: 100px;
	border-radius: 8px;
	margin: 1em 0;
	padding: 1em 0;
	background-color: color-mix(in srgb, var(--color-bg-1-alt), var(--color-bg-1));
	color: var(--white);
}

.journey-wrapper {
	color: var(--color-fg, white);
	background-color: var(--color-bg-2, #333);

}

.journey {
	background-color: var(--color-bg-2-alt);
	color: var(--color-fg-alt);
	border-radius: 8px;
	list-style: none;
	padding: 2em 1em;
	justify-self: center;
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 1.5em;
}

.journey li {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-weight: 700;
}

.journey li img {
	border-radius: 100%;
	padding: 1em;
	height: 6em;
	width: 6em;
	background-color: color-mix(in srgb, var(--color-bg-2-alt), var(--color-bg-2));
	color: var(--white);
}

@media (width> 900px) {
	.journey {
		width: 100%;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}
}

/* Arrow styles */
.wrapper {
	width: auto;
	height: 70px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: rotate(180deg);
}

@media (width > 900px) {
	.wrapper {
		transform: rotate(90deg);
	}
}

.arrow {
	width: 2em;
	height: 2em;
	border: 2em solid;
	border-radius: 4px;
	border-color: var(--color-accent) transparent transparent var(--color-accent);
	transform: rotate(45deg);
}

.arrow-sliding {
	position: absolute;
	animation: slide 1.8s linear infinite;
}

.delay1 {
	animation-delay: 1s;
}

@keyframes slide {
	0% {
		opacity: 0;
		transform: translateY(100%);
	}

	50% {
		opacity: 1;
		transform: translateY(0);
	}

	100% {
		opacity: 0;
		transform: translateY(-50%);
	}
}